h1 {
  text-align:center;
  color:#33b020;
  font-style:italic;
  font-family:chalkduster,fantasy;
  font-size:100px;
  outline: 4px dotted #089624;
  outline-offset:30px;
}

.code {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h2 {
  text-align:center;
}

ul {
  text-align:center;
}
